#response > div {
  background-color: aqua;
  text-align: left;
  padding-left: 1em;
  color: black;
}

.poll-qr-code {
  padding: 20px;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
  background-color: #ccc;
  width: fit-content;
  height: fit-content;
  border-radius: 5px;
}

.poll-qr-code > canvas {
  display: block;
}

.settings-poll-link {
  color: white;
  font-family: monospace;
  text-decoration: none;
}

.join-poll {
  background-color: #3f3f3f;
  display: block;
  width: fit-content;
  padding: 0.4em;
  border-radius: 0.4em;
  font-size: 50%;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
}

.join-poll:hover {
  background-color: #2b2b2b;
}

.join-poll > code {
  color: rgb(126, 202, 253);
}

.poll-bar {
  background-color: #464646;
  min-width: 2em;
  text-align: left;
  padding-left: 0.5em;
  overflow: visible;
  white-space: nowrap;
  margin: 0.3em;
  border-radius: 0.3em;
  text-shadow: black 0 0 2px;
}

.options-container {
  display: flex;
}

.option-elem {
  border-radius: 0.3em;
  width: fit-content;
  margin-left: 1em;
  padding: 0.3em;
  font-size: 70%;
  text-shadow: black 0 0 2px;
}
